{% extends 'accounts/layout/main.html' %}

{% block title %}
Coders
{% endblock title %}

{% block content %}
<section>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow">
                    <div class="card-header">
                        <h2>Ragister User</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{form.as_p}}
                            <button type="submit" class="btn btn-success">Ragister</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}